
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="nav-link active" aria-current="page" [routerLink]="['']">Inicio</div>
            </li>
            <li class="nav-item">
                <div class="nav-link">Ofertas</div>
            </li>
            <li class="nav-item">
                <div class="nav-link">Juegos gratis</div>
            </li>
            <li class="nav-item" [routerLink]="['/login']">
                <button class="btn btn-primary mt-2 mt-lg-0 ms-lg-3">Registrarse</button>
            </li>
            <li class="nav-item"  [routerLink]="['/loginIngresar']">
                <button class="btn btn-secondary mt-3 mt-lg-0 mx-lg-2">Login</button>
            </li>
        </ul>
    </div>
    </div>
</nav>