<!-- <div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">My Collection</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="img/thumbnail.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Este es el nombre del juego.</p>
                        <p class="card-text">$5000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="img/thumbnail.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Este es el nombre del juego.</p>
                        <p class="card-text">$5000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="img/thumbnail.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Este es el nombre del juego.</p>
                        <p class="card-text">$5000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="img/thumbnail.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Este es el nombre del juego.</p>
                        <p class="card-text">$5000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="d-flex justify-content-center py-5">
    <button>VER MÁS</button>
</div> -->

<div class="album py-5">
    <div class="container">
  
      <div class="row">
        <div
          class="col-md-4"
          *ngFor="let item of listado | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              [src]="item.header_image"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">{{item.name}}.</p>
              <p class="card-text">{{item.currency}} {{item.final_price | number}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    Ver más
                  </button>
                </div>
                <div>
                    <img *ngIf="item.linux_available" class="img-platform" src="../../assets/linux.png" alt="">
                    <img *ngIf="item.mac_available" class="img-platform" src="../../assets/mac.png" alt="">
                    <img *ngIf="item.windows_available" class="img-platform" src="../../assets/windows.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="d-flex justify-content-center">
      <ngb-pagination
        [pageSize]="6"
        [collectionSize]="10"
        [(page)]="page"
        aria-label="Default pagination"
      ></ngb-pagination>

  </div>

  
 
  <pre>Current page: {{page}}</pre>