<!-- 
<div class="banner">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
          <div class="tarjeta" style="background-color: red;"> 

          </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="tarjeta" style="background-color: green;"> 

        </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="tarjeta" style="background-color: blue;"> 

      </div>
    </ng-template>  

    </owl-carousel-o>
</div>
 -->

 <div>
   <img class="imagenBanners primerBanner" src="../assets/banner2.jpg" alt="">
 </div>